$letterColor:#fff;
$padd-left:50px;
$aside-bg:#ff8000;


@mixin displayDinamic($display,$just) {
    display: $display;
    justify-content: $just;
}


*{
    margin: 0;
    padding: 0;
    background: #e6e6e6;
    font-family: "Open Sans";
}

.wrap-container{
    width: 90%;
}

.content-container{
    width: 95%;
    padding-left: $padd-left;
    
}

nav{
    @include displayDinamic(flex,flex-start);
    width: 95%;
    padding-left: $padd-left;
  
    a{
        background: #528Fd5;
    } 
    
    .link-container{
        background: #528Fd5;
        @include displayDinamic(flex,flex-start);                                   
        align-items: flex-end;
       
        width: 100%;
        .links{
            @include displayDinamic(flex,space-around);
            list-style: none;
            li a{
                color:$letterColor;
                padding: 0 10px 0 10px;
                background: #528Fd5;
                text-decoration: none;
            }
        }
    }

    img{
        width: 50px;
    }
}

main{
    width: 91%;
    @include displayDinamic(flex,space-between );   

    .article-container{
        @include displayDinamic(flex,flex-start );
        flex-direction: column;
        align-items: center;
        width: 90%;
        
    
        .article{
            background: #fff;
            height: auto;
            padding: 20px 20px 25px 20px;
            margin: 15px;
            border-radius: 2px;
            margin-top: 10px;
            margin-bottom: 40px;
            h2{
                background: #fff;
            }
            p{
                background: #fff;
            }
        }
    }
    .aside-bar{
      
        padding: 20px 15px;
        margin: 10px;
        width: 20%;
        background:$aside-bg;
        text-align: center;
        h2{
            color:$letterColor;
            background:$aside-bg;
        }
        p{
            color:$letterColor;
            background:$aside-bg;
        }
    }
}

footer{
    width: 95%;
    height: 50px;
    padding-left: $padd-left;
    text-align: center;
    h3{
        background: black;
        color:$letterColor;
    }
}